/* BASE */ /*
       _ _                     _   _
 _ __ / / | ___ _ __ ___  __ _| |_(_)_   _____
| '_ \| | |/ __| '__/ _ \/ _` | __| \ \ / / _ \
| |_) | | | (__| | |  __/ (_| | |_| |\ V /  __/
| .__/|_|_|\___|_|  \___|\__,_|\__|_| \_/ \___|
|_|

/*
|--------------------------------------------------------------------------
| Variables
| Author: P11
| Visit us: @ p11.com
|--------------------------------------------------------------------------
/* GLOBAL*/
/* FONTS*/
/* COLORS */
/* BREAKPOINTS */
/* Extra small mobile */
/* Mobile */
/* Tablet */
/* Middle Sized Devices */
/* Small Laptop */
/* Large Laptop / Desktop */
/* Large Desktop */
/*
       _ _                     _   _
 _ __ / / | ___ _ __ ___  __ _| |_(_)_   _____
| '_ \| | |/ __| '__/ _ \/ _` | __| \ \ / / _ \
| |_) | | | (__| | |  __/ (_| | |_| |\ V /  __/
| .__/|_|_|\___|_|  \___|\__,_|\__|_| \_/ \___|
|_|

/*
|--------------------------------------------------------------------------
| Mixins
| Author: P11 Interactive Team
| Visit us: @ p11.com
|--------------------------------------------------------------------------
| 1. Resets
| 2. Positioning
|
| Notes: Define patterns of property value pairs, which can then be reused in other rule sets
|
*/
/*
| Font Smoothing
| --------------------------------------------------
|
| Aligns most of the browsers with the same font antialiasing.
|
*/
/*
| Strict Button Style
| --------------------------------------------------
|
| Sets the button style appearance to none for various
| mobile browsers and OS's that will auto change the styling
|
*/
/*
| Positioning
| --------------------------------------------------
|
| The following mixins are used for positioning elements
| via the absolute rule
|
*/
/*
| Transition
| --------------------------------------------------
|
| Used to apply all browser prefixes for the css3
| transition property
|
*/
/*
| Box Shadow
| --------------------------------------------------
|
| Used to apply all browser prefixes for the css3
| box-shadow property
|
*/
/*
| Text Shadow
| --------------------------------------------------
|
| Used to apply all browser prefixes for the css3
| text-shadow property
|
*/
/*
| SVG Shadow
| --------------------------------------------------
|
| Used to apply all browser prefixes for the css3
| filter property
|
*/
/*
| Responsive Media Query Mixins
| --------------------------------------------------
|
| The following mixins are used for applying various
| media queries and specified breakpoints
|
*/
/*
| Transparent Colors
| --------------------------------------------------
|
| Function for creating transparent colors.
|
*/
/*
| Gradient Backgrounds
| --------------------------------------------------
|
| Mixin for creating gradient backgrounds
| @include bg-gradient(fn-transparent-color($color-black, 1), fn-transparent-color($color-black, 0), top, bottom, 0%, 100%);
|
*/
/*
| Rotation
| --------------------------------------------------
|
| Mixin for applying the correct browser prefixes for the
| transform: rotate property
|
*/
/*
| Keyframe animations
| --------------------------------------------------
| Mixin for applying animations to elements
|
*/
/* BLOCKS */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ICON LIST
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-list-section .icon-list-section-content .icon-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.icon-list-section .icon-list-section-content .icon-list .icon-list-item {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 640px) {
  .icon-list-section .icon-list-section-content .icon-list .icon-list-item {
    flex-direction: column;
  }
}
.icon-list-section .icon-list-section-content .icon-list .icon-list-item:last-of-type {
  margin-bottom: 0;
}
.icon-list-section .icon-list-section-content .icon-list .icon-list-item .icon-list-image {
  position: relative;
  flex: 0 0 100px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  background-color: #378e8f;
}
@media (max-width: 640px) {
  .icon-list-section .icon-list-section-content .icon-list .icon-list-item .icon-list-image {
    margin: 0 auto;
  }
}
.icon-list-section .icon-list-section-content .icon-list .icon-list-item .icon-list-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  padding: 0.5rem;
}
.icon-list-section .icon-list-section-content .icon-list .icon-list-item .icon-list-text h2 {
  margin-bottom: 0.5rem;
}
@media (max-width: 640px) {
  .icon-list-section .icon-list-section-content .icon-list .icon-list-item .icon-list-text {
    text-align: center;
  }
}

/*# sourceMappingURL=content-icon-list.css.map */
