/*
       _ _                     _   _
 _ __ / / | ___ _ __ ___  __ _| |_(_)_   _____
| '_ \| | |/ __| '__/ _ \/ _` | __| \ \ / / _ \
| |_) | | | (__| | |  __/ (_| | |_| |\ V /  __/
| .__/|_|_|\___|_|  \___|\__,_|\__|_| \_/ \___|
|_|

Site design by p11|creative
Visit us @ p11.com

/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
|
| This file holds all of the grid / structure related styles for the site.
|
*/

// .sixth,
// .fifth,
// .fourth,
// .third,
// .half,
// .full {
// 	width: 100%;
// 	@include mq-lg {
// 		.lg-sixth {
// 		}
// 		.lg-fifth {
// 		}
// 		.lg-fourth {
// 		}
// 		.lg-third {
// 		}
// 		.lg-half {
// 		}
// 		.lg-full {
// 		}
// 	}
// 	@include mq-md {
// 		.md-sixth {
// 		}
// 		.md-fifth {
// 		}
// 		.md-fourth {
// 		}
// 		.md-third {
// 		}
// 		.md-half {
// 		}
// 		.md-full {
// 		}
// 	}
// 	@include mq-sm {
// 		.sm-sixth {
// 		}
// 		.sm-fifth {
// 		}
// 		.sm-fourth {
// 		}
// 		.sm-third {
// 		}
// 		.sm-half {
// 		}
// 		.sm-full {
// 		}
// 	}
// }

.full {
	width: 100%;
}

.half {
	width: 50%;
	@include mq-md {
		width: 100%;
		&.md-half {
			width: 50%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-half {
			width: 100%;
		}
		&.sm-half {
			width: 50%;
		}
	}
}

.third {
	width: 33.33333333%; /* IE Fallback */
	width: calc(100% / 3);
	@include mq-md {
		width: 100%;
		&.md-third {
			width: calc(100% / 3);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-third {
			width: 100%;
		}
		&.sm-third {
			width: calc(100% / 3);
		}
	}
}

.twothird,
.two-third {
	width: 66.66%; /* IE Fallback */
	width: calc((100% / 3) * 2);
	@include mq-md {
		width: 100%;
		&.md-twothird,
		&.md-two-third {
			width: calc((100% / 3) * 2);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-twothird,
		&.md-two-third {
			width: 100%;
		}
		&.sm-twothird,
		&.sm-two-third {
			width: calc((100% / 3) * 2);
		}
	}
}

.fourth {
	width: 25%;
	@include mq-md {
		width: 100%;
		&.md-fourth,
		&.md-fourth {
			width: 25%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-fourth,
		&.md-fourth {
			width: 100%;
		}
		&.sm-fourth,
		&.sm-fourth {
			width: 25%;
		}
	}
}

.twofourth,
.two-fourth {
	width: 50%;
	@include mq-md {
		width: 100%;
		&.md-fourth,
		&.md-fourth {
			width: 50%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-fourth,
		&.md-fourth {
			width: 100%;
		}
		&.sm-fourth,
		&.sm-fourth {
			width: 50%;
		}
	}
}

.threefourth,
.three-fourth {
	width: 75%;
	@include mq-md {
		width: 100%;
		&.md-threefourth,
		&.md-three-fourth {
			width: 75%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-threefourth,
		&.md-three-fourth {
			width: 100%;
		}
		&.sm-threefourth,
		&.sm-threefourth {
			width: 25%;
		}
	}
}

.fifth {
	width: 20%;
	@include mq-md {
		width: 100%;
		&.md-fifth,
		&.md-fifth {
			width: 20%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-fifth,
		&.md-fifth {
			width: 100%;
		}
		&.sm-fifth,
		&.sm-fifth {
			width: 20%;
		}
	}
}

.twofifth,
.two-fifth {
	width: 40%;
	@include mq-md {
		width: 100%;
		&.md-twofifth,
		&.md-two-fifth {
			width: 40%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-twofifth,
		&.md-two-fifth {
			width: 100%;
		}
		&.sm-twofifth,
		&.sm-two-fifth {
			width: 40%;
		}
	}
}

.threefifth,
.three-fifth {
	width: 60%;
	@include mq-md {
		width: 100%;
		&.md-threefifth,
		&.md-three-fifth {
			width: 60%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-threefifth,
		&.md-three-fifth {
			width: 100%;
		}
		&.sm-threefifth,
		&.sm-three-fifth {
			width: 60%;
		}
	}
}

.fourfifth,
.four-fifth {
	width: 80%;
	@include mq-md {
		width: 100%;
		&.md-fourfifth,
		&.md-four-fifth {
			width: 80%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-fourfifth,
		&.md-four-fifth {
			width: 100%;
		}
		&.sm-fourfifth,
		&.sm-four-fifth {
			width: 80%;
		}
	}
}

.sixth {
	width: 16.66666666; /* IE Fallback */
	width: calc(100% / 6);
	@include mq-md {
		width: 100%;
		&.md-sixth,
		&.md-sixth {
			width: 16%;
			width: calc(100% / 6);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-sixth,
		&.md-sixth {
			width: 100%;
		}
		&.sm-sixth,
		&.sm-sixth {
			width: 16%;
			width: calc(100% / 6);
		}
	}
}

.twosixth,
.two-sixth {
	width: 33.33333333; /* IE Fallback */
	width: calc((100% / 6) * 2);
	@include mq-md {
		width: 100%;
		&.md-twosixth,
		&.md-two-sixth {
			width: 33.33333333; /* IE Fallback */
			width: calc((100% / 6) * 2);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-twosixth,
		&.md-two-sixth {
			width: 100%;
		}
		&.sm-twosixth,
		&.sm-two-sixth {
			width: 33.33333333; /* IE Fallback */
			width: calc((100% / 6) * 2);
		}
	}
}

.threesixth,
.three-sixth {
	width: 50%;
	@include mq-md {
		width: 100%;
		&.md-threesixth,
		&.md-three-sixth {
			width: 50%;
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-threesixth,
		&.md-three-sixth {
			width: 100%;
		}
		&.sm-threesixth,
		&.sm-three-sixth {
			width: 50%;
		}
	}
}

.foursixth,
.four-sixth {
	width: 66.66666666; /* IE Fallback */
	width: calc((100% / 6) * 4);
	@include mq-md {
		width: 100%;
		&.md-foursixth,
		&.md-four-sixth {
			width: 66.66666666%;
			width: calc((100% / 6) * 4);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-foursixth,
		&.md-four-sixth {
			width: 100%;
		}
		&.sm-foursixth,
		&.sm-four-sixth {
			width: 66.66666666%;
			width: calc((100% / 6) * 4);
		}
	}
}

.fivesixth,
.five-sixth {
	width: 83.33333333; /* IE Fallback */
	width: calc((100% / 6) * 5);
	@include mq-md {
		width: 100%;
		&.md-fivesixth,
		&.md-five-sixth {
			width: 83.33333333%;
			width: calc((100% / 6) * 5);
		}
	}
	@include mq-sm {
		width: 100%;
		&.md-fivesixth,
		&.md-five-sixth {
			width: 100%;
		}
		&.sm-fivesixth,
		&.sm-five-sixth {
			width: 83.33333333%;
			width: calc((100% / 6) * 5);
		}
	}
}

/**** Gutters ***/

.half-gutter1 {
	.half {
		width: calc(50% - .5em);

		@include mq-md {
		  width: 100%;
		}
	}

  .half:nth-child(even) {
    margin-left: 1em;
  }

  @include mq-md {
    width: 100%;
    margin-left: 0!important;
  }
}

.half-gutter2 {
	.half {
		width: calc(50% - 1em);

		@include mq-md {
		  width: 100%;
		}
	}

  .half:nth-child(even) {
    margin-left: 2em;

		@include mq-md {
	    margin-left: 0!important;
	  }
  }


}

.third-gutter1 {
	.third {
		width: calc(100% / 3 - 0.67em);
		margin: 1em 0 0;
		&:nth-child(3n + 2) {
			margin: 1em 1em 0;
		}
		@include mq-lg {
			width: calc(100% / 2 - 0.5em);
			&:nth-of-type(n) {
				margin: 1em 0 0 0;
			}
			&:nth-child(2n + 1) {
				margin-right: 1em;
			}
		}
		@include mq-md {
			width: calc(100%);
			&:nth-of-type(n) {
				margin: 1em 0 0 0;
			}
		}
	}
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: ' '; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.fill {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 0;
}

/*~~ TEXT ALIGN ~~*/

.tleft,
.text-left {
	text-align: left;

	@include mq-md {
		text-align: center;
	}
}

.tright,
.text-right {
	text-align: right;
	@include mq-md {
		text-align: center;
	}
}

.tcenter,
.text-center {
	text-align: center;
}

.italic {
  font-style: italic;
}

*[style*="text-align: left"] {
	@include mq-md {
		text-align: center!important;
	}
}

/*~~ PADDING ~~*/

.no-pad,
.nopad,
.pad0 {
	padding: 0;
}

.pad-half {
	padding: 0.5rem;
}

/*~~ PADDING ~~*/

@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.pad#{$i}-#{$j} {
			padding: #{$i}rem #{$j}rem;
		}
	}
}

@for $i from 0 through 8 {
	.pad#{$i} {
		padding: #{$i}rem;
	}
}

/*~~ PADDING  TOP ~~*/

@for $i from 0 through 8 {
	.padt#{$i} {
		padding-top: #{$i}rem;
	}
}

/*~~ PADDING LEFT ~~*/

.padl1 {
	padding-left: 1rem;
	@include mq-sm {
		padding-left: 0;
	}
}

/*~~ PADDING RIGHT ~~*/

.padr1 {
	padding-right: 1rem;
	@include mq-sm {
		padding-right: 0;
	}
}

/*~~ PADDING BOTTOM ~~*/

// Generate padding-bottom classes from padb0 to padb8
@for $i from 0 through 8 {
	.padb#{$i} {
		padding-bottom: #{$i}rem;
	}
}

/*~~ MARGIN ~~*/

.no-mar,
.nomar,
.nomarg,
.mar0 {
	margin: 0;
}

.mar-half {
	margin: 0.5rem;
}

// Generate margin classes from mar0-0 to mar8-8
@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.mar#{$i}-#{$j} {
			margin: #{$i}rem #{$j}rem;
		}
	}
}

// Generate single margin classes from mar0 to mar8
@for $i from 0 through 8 {
	.mar#{$i} {
		margin: #{$i}rem;
	}
}

/*~~ margin  TOP~~*/

// Generate margin-top classes from mart0 to mart8
@for $i from 0 through 8 {
	.mart#{$i} {
		margin-top: #{$i}rem;
	}
}

/*~~ margin BOTTOM ~~*/

// Generate margin-bottom classes from marb0 to marb8
@for $i from 0 through 8 {
	.marb#{$i} {
		margin-bottom: #{$i}rem;
	}
}

/*~~ PADDING MOBILE ~~*/

// Generate mobile padding classes from padm0-0 to padm8-0
@for $i from 0 through 8 {
	.padm#{$i}-0 {
		@include mq-md {
			padding: #{$i}rem 0;
		}
	}
}

// Generate mobile single padding classes from padm0 to padm8
@for $i from 0 through 8 {
	.padm#{$i} {
		@include mq-md {
			padding: #{$i}rem;
		}
	}
}

// Generate mobile two-value padding classes from padm0-0 to padm8-8
@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.padm#{$i}-#{$j} {
			@include mq-md {
				padding: #{$i}rem #{$j}rem;
			}
		}
	}
}

// Generate mobile padding-bottom classes from padbm0 to padbm8
@for $i from 0 through 8 {
	.padbm#{$i} {
		@include mq-md {
			padding-bottom: #{$i}rem;
		}
	}
}

// Generate mobile padding-top classes from padmt0 to padmt8
@for $i from 0 through 8 {
	.padmt#{$i} {
		@include mq-md {
			padding-top: #{$i}rem;
		}
	}
}

/*~~ PADDING LARGE ~~*/

// Generate large padding classes from padlg0-0 to padlg8-0
@for $i from 0 through 8 {
	.padlg#{$i}-0 {
		@include mq-lg {
			padding: #{$i}rem 0;
		}
	}
}

// Generate large single padding classes from padlg0 to padlg8
@for $i from 0 through 8 {
	.padlg#{$i} {
		@include mq-lg {
			padding: #{$i}rem;
		}
	}
}

// Generate large two-value padding classes from padlg0-0 to padlg8-8
@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.padlg#{$i}-#{$j} {
			@include mq-lg {
				padding: #{$i}rem #{$j}rem;
			}
		}
	}
}

/*~~ MARGIN MOBILE ~~*/

// Generate mobile margin-bottom classes from marmb0 to marmb8
@for $i from 0 through 8 {
	.marmb#{$i} {
		@include mq-md {
			margin-bottom: #{$i}rem;
		}
	}
}

// Generate mobile margin-top classes from marmt0 to marmt8
@for $i from 0 through 8 {
	.marmt#{$i} {
		@include mq-md {
			margin-top: #{$i}rem;
		}
	}
}

/*~~ MARGIN LARGE ~~*/

// Generate large single margin classes from marlg0 to marlg8
@for $i from 0 through 8 {
	.marlg#{$i} {
		@include mq-lg {
			margin: #{$i}rem;
		}
	}
}

// Generate large two-value margin classes from marlg0-0 to marlg8-8
@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.marlg#{$i}-#{$j} {
			@include mq-lg {
				margin: #{$i}rem #{$j}rem;
			}
		}
	}
}

// Generate mobile single margin classes from marm0 to marm8
@for $i from 0 through 8 {
	.marm#{$i} {
		@include mq-md {
			margin: #{$i}rem;
		}
	}
}

// Generate mobile two-value margin classes from marm0-0 to marm8-8
@for $i from 0 through 8 {
	@for $j from 0 through 8 {
		.marm#{$i}-#{$j} {
			@include mq-md {
				margin: #{$i}rem #{$j}rem;
			}
		}
	}
}

/*~~ GLOBAL ~~*/

sup {
	vertical-align: super;
	font-size: 50%;
}

.center {
	margin: 0 auto;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.hidden {
	display: none;
}

.noscroll,
.no-scroll {
	height: 100%;
	overflow: hidden;
}

.relative {
  position: relative;
}

.figure {
	overflow: hidden;
	position: relative;
}

.figure img,
.stretch {
	width: 100%;
	height: auto;
}

.mmh0 { // mobile min-height 0
	@include mq-md {
		min-height: 0!important;
	}
}

.cover {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.contain {
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.fixedbg,
.fixed-bg {
	background-attachment: fixed;
	will-change: top;
}

.css-table {
	display: table;
	.css-col {
		display: table-cell;
	}
}
